$color-background: #363636;

$color-background-darkest: #121212;

$color-background-x1: #323232;
$color-background-x2: #484848;
$color-background-x3: #666666;

$color-primary: #dfdfe6;


$color-apple-gray: rgb(142, 142, 147);
$color-apple-gray-2: rgb(99, 99, 102);
$color-apple-gray-3: rgb(72, 72, 74);
$color-apple-gray-4: rgb(58, 58, 60);
$color-apple-gray-4: rgb(44, 44, 46);
$color-apple-gray-5: rgb(28, 28, 30);

// Dark
$color-apple-blue:   rgb(10, 132, 255);
$color-apple-brown:   rgb(172, 142,104);
$color-apple-gray-text:   rgb(152, 152, 157);
$color-apple-green:   rgb(50, 215, 75);
$color-apple-orange:   rgb(255, 159, 10);
$color-apple-pink:   rgb(255, 55, 95);
$color-apple-purple:   rgb(191, 90, 242);
$color-apple-red:   rgb(255, 69 ,58 );
$color-apple-yellow:   rgb(255, 214 , 10);


